{% extends 'base.html' %}

{% block htmlbody %}
		
		{% block pagetitle %} Student List {% endblock pagetitle %}
	
		<table>
			<tr>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Course Name</th>
				<th>Course Content</th>
				<th>Course Faculty</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

			{% for student in students %}

					<tr>
						<td>
							<a href="{% url 'iflame:student_detail' student.id %}">
							{{student.id}}</a>
						</td>
						<td>{{ student.student }}</td>
						<td>{{ student.course }}</td>
						<td>{{ student.course.content }}</td>
						<td>{{ student.course.faculty }}</td>
						<td>
							<a href="{% url 'iflame:student_edit' student.id %}">
							<button>Edit</button></a>
						</td>
						<td>
							
							<a href="{% url 'iflame:student_delete' student.id %}">
								<button>Delete</button>
							</a>
						</td>
					</tr>
			
			{% endfor %}

		</table>
{% endblock htmlbody %}