{% extends 'base.html' %}
{% load static %}

{% block htmlbody %}
		
		{% block pagetitle %} Student List {% endblock pagetitle %}

		{% comment %}
		<form method="GET" action="{% url 'iflame:search_view'  %}">
			<input type="text" name="q"  >
			<button type="submit">search</button>

		</form>

		<table>
			<tr>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Course Name</th>
				<th>Course Content</th>
				<th>Course Faculty</th>
				<th>Course Image</th>
				<th>Course Syllabus</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

			{% if search_results %}

				{% for student in search_results %}

						<tr>
							<td>
								<a href="{% url 'iflame:student_detail' student.id %}">
								{{student.id}}</a>
							</td>
							<td>{{ student.student }}</td>
							<td>{{ student.course }}</td>
							<td>{{ student.course.content }}</td>
							<td>{{ student.course.faculty }}</td>
							{% if student.course.avtar %}
								<td><img src="{{ student.course.avtar.url }}"></td>
							{% else %}
								<td><img src="{{ student.course.avtar }}"></td>
							{% endif %}
							{% if student.course.syllabus %}
								<td><a href="{{ student.course.syllabus.url }}">Syllabus</a></td>
							{% else %}
								<td>{{ student.course.avtar }}</td>
							{% endif %}
							<td>
								<!-- <a href="{% url 'iflame:student_edit' student.id %}"> -->
								<button class="edit_button_student_list">Edit</button>
							<!-- </a> -->
							</td>
							<td>
								
								<a href="{% url 'iflame:student_delete' student.id %}">
									<button>Delete</button>
								</a>
							</td>
						</tr>
				
				{% endfor %}

			{% else %}

				{% for student in students %}

					<tr>
						<td>
							<a href="{% url 'iflame:student_detail' student.id %}">
							{{student.id}}</a>
						</td>
						<td>{{ student.student }}</td>
						<td>{{ student.course }}</td>
						<td>{{ student.course.content }}</td>
						<td>{{ student.course.faculty }}</td>
						{% if student.course.avtar %}
							<td><img src="{{ student.course.avtar.url }}"></td>
						{% else %}
							<td><img src="{{ student.course.avtar }}"></td>
						{% endif %}
						{% if student.course.syllabus %}
							<td><a href="{{ student.course.syllabus.url }}">Syllabus</a></td>
						{% else %}
							<td>{{ student.course.avtar }}</td>
						{% endif %}
						<td>
							<!-- <a href="{% url 'iflame:student_edit' student.id %}"> -->
							<button class="edit_button_student_list">Edit</button>
						<!-- </a> -->
						</td>
						<td>
							
							<a href="{% url 'iflame:student_delete' student.id %}">
								<button>Delete</button>
							</a>
						</td>
					</tr>
			
				{% endfor %}

			{% endif %}

		</table>
		{% endcomment %}


		<!-- Trigger/Open The Modal -->
		

		{% for student in students %}
			<button class="myBtn" data-username="{{student.student.username}}">{{ student.student.username }}</button>
			
		{% endfor %}

		<!-- The Modal -->
		<div id="myModal" class="modal" style="display: none;">

		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <div class='con'></div>
		  </div>

		</div>

		
{% endblock htmlbody %}

{% block javascript_methods %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/custom.css' %}">

	<script type="text/javascript">

		

		var modal = document.getElementById("myModal");
		var url = 'https://jsonplaceholder.typicode.com/users'
		var current_model = null
		var contact_list = []
		var content_data = null
		var span_close = document.getElementsByClassName("close")


		// function ajax_call(){
		// 	$.ajax({  
  //                url: url,  
  //                type: 'GET',  
  //                dataType: 'json',  
  //                success: function (data, textStatus, xhr) {
  //                   for (var i=0; i <= data.length; i++){
  //                   	content_data = data[i]
  //                   	contact_list.push(content_data)
		// 				$('.con').html('<p>'+content_data+'</p>')

  //                   }
  //                   $('#myModal').css('display', 'block');	
  //                },  
  //                error: function (xhr, textStatus, errorThrown) {  
  //                    console.log('Error in Operation');  
  //                }  
  //            });  
		// }

		$('.myBtn').on('click', function(){
			var student_id = $(this).data("username")
			current_model = student_id
			$('.con').html('<p>'+student_id+'</p>')
			$('#myModal').css('display', 'block');


			// ajax_call()
			// .done(function(res) {
			   
			})
			// var ajax_call = await ajax_call()
			
		// })

		$('.close').on('click', function() {
			$('#myModal').css('display', 'none');
		})

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal){
				$('#myModal').css('display', 'none');
			}
		}

	</script>

{% endblock javascript_methods %}


